<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1"
             xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="primary">
            
                <class>com.mirzet.zukic.runtime.model.Activity</class>
            
                <class>com.mirzet.zukic.runtime.model.AppUser</class>
            
                <class>com.mirzet.zukic.runtime.model.Basic</class>
            
                <class>com.mirzet.zukic.runtime.model.Client</class>
            
                <class>com.mirzet.zukic.runtime.model.DependTasks</class>
            
                <class>com.mirzet.zukic.runtime.model.DependendTaskToMainTask</class>
            
                <class>com.mirzet.zukic.runtime.model.Employee</class>
            
                <class>com.mirzet.zukic.runtime.model.EmployeeToActivity</class>
            
                <class>com.mirzet.zukic.runtime.model.Organization</class>
            
                <class>com.mirzet.zukic.runtime.model.OrganizationType</class>
            
                <class>com.mirzet.zukic.runtime.model.Person</class>
            
                <class>com.mirzet.zukic.runtime.model.PersonToProject</class>
            
                <class>com.mirzet.zukic.runtime.model.Project</class>
            
                <class>com.mirzet.zukic.runtime.model.Qualification</class>
            
                <class>com.mirzet.zukic.runtime.model.Resource</class>
            
                <class>com.mirzet.zukic.runtime.model.Role</class>
            
                <class>com.mirzet.zukic.runtime.model.Task</class>
            

        <exclude-unlisted-classes>false</exclude-unlisted-classes>
    </persistence-unit>
</persistence>
